python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
pymupdf
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain_ollama
sse_starlette
langserve
fastapi
pydantic
uvicorn
langchain-groq
httpx
arxiv
wikipedia
langchain==0.0.331
langchain-community==0.0.17
langchain-core==0.0.5
langchain-groq
langchain-text-splitters
langchain-openai
streamlit